                <div class="schedule-wrapper">
                    <!-- Верхний блок -->
                    <div class="header-row">
                        <div class="title-group">
                            <h2>Сабақ кестесі</h2>
                            <p>ИТ-301 тобы • 3 курс</p>
                        </div>
                        <div class="toggle-btns">
                            <button class="btn active" onclick="toggleSchedule('day')">Күн</button>
                            <button class="btn" onclick="toggleSchedule('week')">Апта</button>
                        </div>
                    </div>

                    <!-- Блок с датой -->
                    <div class="date-card" style="margin-bottom: 20px;">
                        <button class="arrow" data-direction="left">❮</button>
                        <div class="current-date">
                        <!-- Иконка календаря SVG -->
                            <svg class="icon-calendar" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                            <span>Ағымдағы апта • 25 қараша - 1 желтоқсан 2025</span>
                        </div>
                        <button class="arrow" data-direction="right">❯</button>
                    </div>
                </div>

                <!-- Дневное расписание -->
                <div class="schedule-list" style="display: flex; flex-direction: column; gap: 10px;">
                    
                </div>

                <!-- Недельное расписание -->
                <div class="week-schedule-container" style="display: none;">
                    
                </div>