                <div class="dashboard-header">
                    <h2>Тесттер</h2>
                    <p>Өз біліміңізді тексеріңіз!</p>
                </div>

                <!-- Статистика тестов -->
                <div class="stats-grid" style="margin-bottom: 20px;"> 
                    <div class="stat-card">
                        <div class="icon-box purple"> 
                            <i class="fa-solid fa-clipboard-list"></i> 
                        </div>
                        <span class="stat-title">Барлық тесттер</span>
                        <div class="stat-value">6</div>
                        <span class="stat-desc">Осы семестрде 12</span>
                    </div>

    
                    <div class="stat-card">
                        <div class="icon-box blue">      
                            <i class="fa-solid fa-book-open"></i>      
                        </div>
                        <span class="stat-title">Қолжетімді тесттер</span>
                        <div class="stat-value">4</div>
                        <span class="stat-desc">2 аяқталды</span>
                    </div>

                    <div class="stat-card">
                        <div class="icon-box orange">
                            <i class="fa-solid fa-chart-line"></i>
                        </div>
                        <span class="stat-title">Орташа балл</span>
                        <div class="stat-value">80%</div>
                        <span class="stat-desc">Айына +2%</span>
                    </div>

                    
                    <div class="stat-card">
                        <div class="icon-box green">
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <span class="stat-title">Өткен тесттер</span>
                        <div class="stat-value">2</div>
                        <span class="stat-desc">4 күтуде</span>
                    </div>
                </div>

                <!-- Блок фильтрации -->
                <div class="filters-container">
                    <div class="search-box">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Тесттің атын іздеу...">
                    </div>
                    
                    <div class="filter-controls">
                        <!-- Первый селект -->
                        <div class="custom-select" id="categorySelect">
                            <div class="select-trigger">
                                <span>Барлық санаттар</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="select-options">
                                <div class="option selected" data-value="">Барлық санаттар</div>
                                <div class="option" data-value="programming">Бағдарламалау</div>
                                <div class="option" data-value="database">Дерекқорлар</div>
                            </div>
                        </div>

                        <!-- Второй селект -->
                        <div class="custom-select" id="statusSelect">
                            <div class="select-trigger">
                                <span>Статус</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="select-options">
                                <div class="option selected" data-value="all">Статус</div>
                                <div class="option" data-value="not-passed" onclick="renderTests('1 semester', 'active');">Тапсырылмаған</div>
                                <div class="option" data-value="passed" onclick="renderTests('1 semester', 'completed');">Тапсырылған</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="test-list">
                    
                </div>